// Mixins in here
.btn-maker(@btn-width: 100%; @btn-bck: @button-bg; @btn-color: white;@btn-pa: 5% 0%; @btn-bor: 5px; @btn-fsize: 1.5rem){
    width: @btn-width;
    background: @btn-bck;
    color: @btn-color;
    padding: @btn-pa;
    border-radius: @btn-bor;
    font-size: @btn-fsize;
    text-align: center;
}