// Navigation Styles here
header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dashed @navigation-border;
    nav {
        align-items: center;
        width: 40%;
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: @shark;
            font-size: 1.4rem;
        }
    }
}

@media @mobile{
    header{
        display: flex;
        flex-direction: column;
    }
}